appdirs==1.4.3
astroid==2.2.5
beautifulsoup4==4.9.0
certifi==2018.10.15
chardet==3.0.4
Click==7.0
colorama==0.4.1
cssselect==1.1.0
decorator==4.3.0
distlib==0.3.0
filelock==3.0.12
Flask==1.1.1
future==0.17.1
geocoder==1.38.1
htmldate==0.6.2
idna==2.7
importlib-metadata==1.6.0
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10.1
jusText==2.2.0
krovetz==1.0.2
lazy-object-proxy==1.4.1
lxml==4.5.0
MarkupSafe==1.1.1
mccabe==0.6.1
nltk==3.4
oauthlib==2.1.0
pipenv==2018.11.26
pygame==1.9.4
pylint==2.3.1
python-dateutil==2.8.1
python-twitter==3.5
ratelim==0.1.6
RateMyProfessorPyAPI==1.2.1
readability-lxml==0.7.1
requests==2.23.0
requests-oauthlib==1.0.0
simhash==1.9.0
singledispatch==3.4.0.3
six==1.11.0
soupsieve==2.0
trafilatura==0.4.1
typed-ast==1.4.0
urllib3==1.24.1
virtualenv==20.0.20
virtualenv-clone==0.5.4
Werkzeug==0.15.5
wrapt==1.11.2
zipp==3.1.0
